*{
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: normal;
}
body{
    background-color: #6d6c87;
    font-family: "Alfa Slab One", serif;
}
h1 {
    font-family: sans-serif;
    font-size: 70px;
    text-align: center;
    text-decoration-line: underline;
    color: #100c66;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    front-weight: bold;
    font-size: 20px;
    color:#290ddb;
}
nav{
    text-align: center;
    margin-top: 20px;
}
nav a{
    display: inline-block;
    background-color: beige;
    color: darkblue;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 30px;
}
nav a:hover{
    transform:scale(1.1);
    color:darkgrey;
    text-shadow: white 1px 1px 1px;

}
#rockwerchter{
    color: #ff05a3;
    border: 2px darkblue solid;
    background-color: #fab1dc;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
#pukkelpop{
    color: #9b05a6;
    border: 2px darkblue solid;
    background-color: #d5a1f7;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#tomorrowland{
    color: #0590a6;
    border: 2px darkblue solid;
    background-color: #a1c1f7;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#graspop {
    color: #068a3f;
    border: 2px darkblue solid;
    background-color: #a1f7c5;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#dour{
    color: #8a6406;
    border: 2px darkblue solid;
    background-color: #f7e2a1;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
article .top-button{
    background-color: white;
}
section {
    background-color: #2f3b52;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
}

h2 {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
    background-color: #3c4a63;
}

th, td {
    border: 1px solid #5c6b83;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #2b3549;
    color: #fff;
}

th a {
    color: #80bfff;
    text-decoration: none;
}

th a:hover {
    text-decoration: underline;
}

table thead th[colspan="2"] {
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}

td img {
    display: block;
    margin: 10px auto;
    border: 2px solid #5c6b83;
}

td:nth-child(2) {
    width: 350px; /* vaste breedte kolom met tracknamen */
}

td:last-child {
    width: 80px;
    text-align: right;
}

tbody tr:hover {
    background-color: #465775;
}
